# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bin/
/obj/

# local database files
*.db
*.db-shm
*.db-wal

# Rider
.idea/
*.sln.iml
*.sln.DotSettings.user

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# User-specific files
*.DotSettings.user
*.secrets.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
Build/
build/
Build/
bld/

# My local files
/appsettings.Development.json
